<div class="container-sm text-center">
  <div class="page-header">
    <h1>Something went wrong...</h1>
  </div>
  <%= image_tag("error.png", size: "200x162", alt: "Error", class: 'my-5') %>
  <p style='font-size: 0.6em;'>Image by <a href="https://www.vecteezy.com/members/divinetoons" target="_blank">divinetoons</a></p>
  <%= @error %>
</div>
